body {
    background-color: #4f3a2a;
    display: flex;
    justify-content: center;
    font-family: Verdana, Sans-serif;
}

div {   
    background-color: #4f3a2a;
    border-width: 5px;
    border-color: orange;
    border-style: solid;
    color: orange;
    width: 50vw;
    height: 50vh;
    margin-top: 25vh;

}

div h1 {
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}

div ul {
    list-style: none;
    margin-top: 10%;
}

a, a:visited {
    color: orange;
}

a:hover {
    color: orangered;
}